@model Finances.Application.Expense.ExpenseDto

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">Expense Details</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Value:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Value)</dd>

                <dt class="col-sm-3">Category:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Category)</dd>

                <dt class="col-sm-3">Created At:</dt>
                <dd class="col-sm-8">@Model.CreatedAt.ToString("dd.MM.yyyy")</dd>

                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a class="btn btn-outline-primary" asp-controller="Expense" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
