@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model X.PagedList.IPagedList<Finances.Application.Expense.ExpenseDto>

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Expenses";

    var selectedYear = ViewBag.SelectedYear;
    var selectedNumMonths = ViewBag.SelectedNumMonths;
}

<style>
    .button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 10px 0px 10px 0;
    }
</style>
  
<h1>Expenses</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Add expense</a>
</p>

<hr class="col-xl-5" />

<div>
    <form asp-controller="Expense" asp-action="Index" method="get">
        <div >
            <form asp-controller="Expense" asp-action="Index" method="get">
                @for (int year = DateTime.Now.Year; year >= DateTime.Now.Year - 3; year--)
                {
                    <button type="submit" class="btn btn-outline-primary @((selectedYear == year) ? "active" : "")" name="targetYear" value="@year">@year</button>
                }
            </form>
            <div class="button-container">
                @foreach (var numMonths in new[] { 12, 6, 3, 1 })
                {
                    <form asp-controller="Expense" asp-action="Index" method="get">
                        <button type="submit" class="btn btn-outline-primary @((selectedNumMonths == numMonths) ? "active" : "")" name="targetNumOfMonths" value="@numMonths">Last @numMonths months</button>
                    </form>
                }
            </div>

        </div>
    </form>

    <hr class="col-xl-5"/>

    <form asp-controller="Expense" asp-action="Index" method="get">
        <div class="form-group col-xl-2">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.SelectedStartDate" />
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" value="@ViewBag.SelectedEndDate" />
        </div>
        <button type="submit" class="btn btn-outline-primary @((ViewBag.IsCalculateClicked == true) ? "active" : "") mt-2">Calculate</button>
    </form>

    <hr class="col-xl-5" />

    @if (ViewBag.IsCalculateClicked == true)
    {
        <ul class="list-group col-xl-3">
            <li class="list-group-item ps-2"> Selected Start Date: @(ViewBag.SelectedStartDate.ToShortDateString())</li>
            <li class="list-group-item ps-2">Selected End Date: @(ViewBag.SelectedEndDate.ToShortDateString())</li>

        </ul>
    }

    <ul class="list-group col-xl-3">
        @foreach (var kvp in ViewBag.TotalExpenseByCategoryForYear)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @kvp.Key:
                 <div class="text-end">@kvp.Value</div>
            </li>
        }
    </ul>
    <ul class="list-group col-xl-3">
        @foreach (var kvp in ViewBag.TotalExpensesByCategoryForLastMonths)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @kvp.Key: 
                <div class="text-end">@kvp.Value</div>
            </li>
        }
    </ul>
    <ul class="list-group col-xl-3">
        @foreach (var kvp in ViewBag.TotalExpenseByCategoryInRange)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @kvp.Key: 
                <div class="text-end">@kvp.Value</div>
             </li>
        }
    </ul>
    @if (ViewBag.TotalExpensesForYear > 0 || ViewBag.TotalExpensesForLastMonths > 0 || ViewBag.TotalExpensesForTerm > 0)
    {
        <ul class="list-group col-xl-3 mb-4">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>Total: </div>
                <div class="text-end">@ViewBag.TotalExpensesForYear @ViewBag.TotalExpensesForLastMonths @ViewBag.TotalExpensesForTerm</div>
            </li>
        </ul>
    }

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card p-2" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@item.Category</li>
                <li class="list-group-item">@item.Value</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-primary" asp-controller="Expense" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-primary" asp-controller="Expense" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>

<nav class="mt-4" aria-label="Page navigation">
    <ul class="pagination">

        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = 1 })" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
        }

        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount })" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
            </li>
        }

    </ul>
</nav>