@model IEnumerable<Finances.Application.Expense.ExpenseDto>

@{
    ViewData["Title"] = "Expenses";

    var selectedYear = ViewBag.SelectedYear;
    var selectedNumMonths = ViewBag.SelectedNumMonths;
}

<style>
    .button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 10px 0px 10px 0;
    }
</style>
  
<h1>Expenses</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Add expense</a>
</p>

<div>
    <form asp-controller="Expense" asp-action="Index" method="get">
        <div >
            <form asp-controller="Expense" asp-action="Index" method="get">
                @for (int year = DateTime.Now.Year; year >= DateTime.Now.Year - 3; year--)
                {
                    <button type="submit" class="btn btn-outline-primary @((selectedYear == year) ? "active" : "")" name="targetYear" value="@year">@year</button>
                }
            </form>
            <div class="button-container">
                @foreach (var numMonths in new[] { 12, 6, 3, 1 })
                {
                    <form asp-controller="Expense" asp-action="Index" method="get">
                        <button type="submit" class="btn btn-outline-primary @((selectedNumMonths == numMonths) ? "active" : "")" name="targetNumOfMonths" value="@numMonths">Last @numMonths months</button>
                    </form>
                }
            </div>

        </div>
    </form>

    <form asp-controller="Expense" asp-action="Index" method="get">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" value="@ViewBag.SelectedStartDate" />
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" value="@ViewBag.SelectedEndDate" />
        <button type="submit" class="btn btn-outline-primary  @((ViewBag.IsCalculateClicked == true) ? "active" : "")">Calculate</button>
    </form>

    @if (ViewBag.IsCalculateClicked == true)
    {
        <p>Selected Start Date: @(ViewBag.SelectedStartDate.ToShortDateString())</p>
        <p>Selected End Date: @(ViewBag.SelectedEndDate.ToShortDateString())</p>
    }

    <p>Categories:</p>
    <ul>
        @foreach (var kvp in ViewBag.TotalExpenseByCategoryForYear)
        {
            <li>@kvp.Key: @kvp.Value</li>
        }
    </ul>
    <ul>
        @foreach (var kvp in ViewBag.TotalExpensesByCategoryForLastMonths)
        {
            <li>@kvp.Key: @kvp.Value</li>
        }
    </ul>
    <ul>
        @foreach (var kvp in ViewBag.TotalExpenseByCategoryInRange)
        {
            <li>@kvp.Key: @kvp.Value</li>
        }
    </ul>
    <p>Total: @ViewBag.TotalExpensesForYear @ViewBag.TotalExpensesForLastMonths @ViewBag.TotalExpensesForTerm</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@item.Category</li>
                <li class="list-group-item">@item.Value</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-primary" asp-controller="Expense" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-primary" asp-controller="Expense" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
